h1 {
  font-size: 2.5rem;
}

p {
  font-size: 10px;
}

#descricao-banner {
  color: #ffffff;
  font-size: 24px;
  text-align: left;
}

/*   ↓↓ Banner ↓↓   */

.container-banner {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 90%;
  height: 100%;
}

#apresentacao {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  font-weight: 600;

  width: 40%;
  height: 70%;
}

#texto-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 80%;
}

/* botao↓↓↓ */
.btn {
  background-color: var(--background-color);

  position: relative;
  cursor: pointer;

  --background-color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 50px;

  background: none;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.btn.btn-background-circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: -1;
  background-color: var(--background-color);
  border-radius: 50%;

  transition: transform 500ms ease-in-out;
  transform: scale(1.5);
}

.btn.btn-background-circle:hover::before,
.btn.btn-background-circle:focus::before {
  transform: scale(0);
}

.btn.btn-background-circle {
  z-index: 1;
  overflow: hidden;
  background-color: #c83e4d;
  transition: color 500ms ease-in-out;
}

.btn.btn-background-circle:hover,
.btn.btn-background-circle:focus {
  color: #ffffff;
}
/* botao^^ */

#projetos-imagem {
  width: 35%;
  height: 80%;

  border-radius: 10px;

  position: relative;
  overflow: hidden;
}

#projetos-imagem img {
  opacity: 0;

  width: 100%;
  height: 100%;

  border: solid;
  border-color: #ffffff;
  border-radius: 10px;

  position: absolute;
  object-fit: cover;

  transition: opacity 800ms;
}

#projetos-imagem img.selected {
  opacity: 1;
}

.imagem-bg {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/imagens/eletricista.jpg);
}

@media (max-width: 1370px) {
  /*Responsividade Tablet*/
  .imagem-bg {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 60vh;

    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(/imagens/eletricista.jpg);
  }

  .container-banner {
    width: 100%;
  }

  #descricao-banner {
    height: 80%;
    width: 100%;

    font-size: 22px;
  }

  #texto-banner {
    width: 100%;
    height: 100%;
  }

  #projetos-imagem {
    width: 40%;
    height: 80%;

    border-radius: 10px;

    position: relative;
    overflow: hidden;
  }

  #apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    font-weight: 600;

    width: 50%;
    height: 90%;
  }

  h1 {
    height: 20%;

    margin-bottom: 5%;
    padding: 0;

    font-size: 32px;
    overflow: hidden;
  }

  p {
    font-size: 22px;
  }

  .btn {
    cursor: pointer;

    --background-color: #c83e4d;
    color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 50px;

    background: none;
    font-size: 1;
    border-radius: 10px;
    cursor: pointer;
    border: none;

    font-size: 16px;
  }

  #ancora-botao-banner {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 30%;
  }
}

@media (max-width: 650px) {
  /*Responsividade Celular*/
  .btn.btn-background-circle::before {
    content: "";
  }

  .btn {
    background-color: var(--background-color);

    cursor: pointer;

    --background-color: #c83e4d;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 70%;

    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    border: none;

    margin: 0;
  }

  .container-banner {
    width: 90%;

    display: flex;
    flex-direction: column;
  }

  #projetos-imagem {
    width: 90%;
    margin-bottom: 20px;
  }

  .imagem-bg {
    height: 100vh;
  }

  #apresentacao {
    width: 100%;
  }

  #descricao-banner {
    overflow: hidden;

    font-size: 18px;

    width: 100%;
    height: 80%;
  }

  #ancora-botao-banner {
    height: 20%;

    display: flex;
    justify-content: center;

    margin-bottom: 5%;
  }

  #texto-banner {
    height: 70%;
  }

  h1 {
    font-size: 26px;
  }

  .imagem-bg {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    margin-bottom: 5rem;

    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
      url(/imagens/eletricista.jpg);
  }
}

@media (max-width: 360px) {
  /*Responsividade Celular M/P */
  h1 {
    font-size: 22px;
  }

  #descricao-banner {
    font-size: 15px;
  }

  .btn {
    font-size: 14px;
  }
}
